/* ---------------------------------------------- */
/* This document remains for historical purposes. */
/* ---------------------------------------------- */

/*
	IE5/Mac Only Styles
	Uses the IE5/Mac Band Pass Filter:
	http://stopdesign.com/examples/ie5mac-bpf/
*/
/*\*//*/
	@import url(ie5macrules.css);
/**/
