{% extends 'chiplog/base.html' %}
{% load markup %}
{% load i18n %}
{% load tagging_tags %}

{% block title %}: {{ entry.created|date:"l, F j, Y" }} at {{ entry.created|date:"g:i a" }}{% endblock %}
{% block class %} class="entry_detail"{% endblock %}

{% block header %}
	<div id="add">
		<a href="{% url chiplog_index %}">{% trans "New Entry" %}</a>
	</div><!-- #add -->
{% endblock %}

{% block content %}	

<h1><strong>{{ entry.created|date:"l, F j, Y" }}</strong> at <strong>{{ entry.created|date:"g:i a" }}</strong></h1>

{% include 'chiplog/message.html' %}

<div class="entry">{{ entry.body|markdown }}</div>

<div id="edit">
	<a title="{% trans 'Edit this entry' %}" href="{% url chiplog_update entry.id %}">{% trans 'Edit' %}</a> / 
	<a title="{% trans 'Delete this entry' %}" href="{% url chiplog_delete entry.id %}">&otimes;</a>
</div>
{% if entry.tags %}
<div class="tags list">
	{% trans "Tags:" %}
	<span>
		{% tags_for_object entry as tag_list %}
		{% for tag in tag_list %}
		<a href="{% url chiplog_tagged_list tag.name %}">{{ tag }}</a>
		{% endfor %}
	</span>
</div><!-- .tags .list -->
{% endif %}

{% endblock %}

{% block navigation %}
<div id="nav">
	{% if entry.get_previous_by_created %}
	<a class="older" title="{{ entry.get_previous_by_created.created|date:"l, F j, Y" }} at {{ entry.get_previous_by_created.created|date:"g:i a" }}" href="{{ entry.get_previous_by_created.get_absolute_url }}">{% trans 'Previous' %}</a>
	{% endif %}
	{% if entry.get_next_by_created %}
	<a class="newer" title="{{ entry.get_next_by_created.created|date:"l, F j, Y" }} at {{ entry.get_next_by_created.created|date:"g:i a" }}" href="{{ entry.get_next_by_created.get_absolute_url }}">{% trans 'Next' %}</a>
	{% endif %}
</div><!-- #nav -->
{% endblock %}
