{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if entry %}: Editing Entry{% else %}: Creating Entry{% endif %}{% endblock %}
{% block class %} class="lone_form"{% endblock %}

{% block content %}

{% if entry %}
<h1>{% trans "Editing Entry from" %} <strong>{{ entry.created|date:"l, F j, Y" }}</strong> {% trans "at" %} <strong>{{ entry.created|date:"g:i a" }}</strong></h1>
{% endif %}
<form action="." method="post">
	<div>
		<input type="hidden" name="referrer" value="{{ referrer }}" id="referrer">
		{{ form.body.errors }}
		{{ form.body }}
	</div>
	<div class="tags">
		{{ form.tags.errors }}
		{{ form.tags }}
	</div>
	<div class="button">
		<a href="{{ referrer }}">{% trans "Cancel" %}</a>
	{% if entry %}
		<input type="submit" value="{% trans "ReLog It" %}">
	{% else %}
		<input type="submit" value="{% trans "Log It" %}">
	{% endif %}
	</div><!-- .button -->
</form>

{% endblock %}
