{% extends 'base.html' %}
{% load markup %}
{% load humanize %}
{% load i18n %}

{% block title %}: {% trans "Entries tagged with" %} &lsquo;{{ tag }}&rsquo;{% endblock %}
{% block class %} class="tagged"{% endblock %}

{% block search %}
<div id="search">
	<form action="{% url entry_search %}" method="get" accept-charset="utf-8">
		<div><label for="s">{% trans "Search" %}</label><input type="text" value="{{ search_term }}" name="s" id="s" /></div>
	</form>
</div><!-- #search -->
{% endblock %}

{% block header %}
<div id="add">
	<a href="{% url chiplog_index %}">{% trans "New Entry" %}</a>
</div><!-- #add -->
{% endblock %}

{% block content %}	
<h1>{% trans "Entries tagged with" %} &lsquo;{{ tag }}&rsquo;</h1>
{% if message %}<div id="message">{{ message }}</div>{% endif %}
<div id="entries">
	{% for entry in entry_list %}
		{% ifchanged %}<h2>{{ entry.created|naturalday:"l, F j, Y"|title }}</h2>{% endifchanged %}
		<div class="entry">
			<div class="meta">
				<span class="delete"><a href="{% url chiplog_delete entry.id %}">&otimes;</a></span>
				<span class="date">
					<a href="{{ entry.get_absolute_url }}">
						{{ entry.created|date:"g:i a" }}
					</a>
				</span>
			</div>
			<div class="content">
				{{ entry.body|markdown }}
			</div><!-- .content -->
		</div>
	{% endfor %}
</div><!-- #entries -->
{% endblock %}

{% block navigation %}
<div id="nav">
<div class="empty_nav"></div>
</div><!-- #nav -->
{% endblock %}
