{% extends 'base.html' %}

{% block class %} class="lone_form"{% endblock %}

{% block content %}
	
{% if object %}
<h1>Editing Entry from <strong>{{ object.created|date:"l, F j, Y" }}</strong> at <strong>{{ object.created|date:"g:i a" }}</strong></h1>
{% endif %}
<form action="." method="post">
	<div>
		{{ form.body.errors }}
		{{ form.body }}
	</div>
	<div class="tags">
		{{ form.tags.errors }}
		{{ form.tags }}
	</div>
	<div class="button">
		<a href="{% url chiplog_index %}">Cancel</a>
	{% if object %}
		<input type="submit" value="ReLog It">
	{% else %}
		<input type="submit" value="Log It">
	{% endif %}
	</div><!-- .button -->
</form>

{% endblock %}
