{% extends 'base.html' %}
{% load markup %}
{% load i18n %}

{% block class %} class="entry_detail"{% endblock %}

{% block content %}	

<h1><strong>{{ entry.created|date:"l, F j, Y" }}</strong> at <strong>{{ entry.created|date:"g:i a" }}</strong></h1>
<div class="entry">{{ entry.body|markdown }}</div>

<div id="edit">
	<a title="Edit this entry" href="{% url chiplog_update entry.id %}">{% trans "Edit" %}</a> / 
	<a title="Delete this entry" href="{% url chiplog_delete entry.id %}">&otimes;</a>
</div>
{% if entry.tags %}<div class="tags list">{% trans "Tags:" %} <span>{{ entry.tags }}</span></div>{% endif %}

{% endblock %}

