<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Chiplog{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}chiplog/css/screen.css" type="text/css" media="screen">
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">google.load("jquery", "1.2.6");</script>
<script src="{{ MEDIA_URL }}chiplog/js/jquery.toggleval.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}chiplog/js/jquery.timeago.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}chiplog/js/base.js" type="text/javascript"></script>

<div id="wrapper">
	<div id="header">
		{% block header %}{% endblock %}
	</div><!-- #header -->
	<div id="main">
		<div id="primary">
			{% block content %}
				
			{% endblock %}
		</div><!-- #primary -->
	</div><!-- #main -->
</div><!-- #wrapper -->
