{% extends 'base.html' %}

{% block class %} class="lone_form"{% endblock %}

{% block content %}
	
{% if object %}
<h1>Editing Entry from {{ object.created|date:"l, F j, Y" }}</h1>
{% endif %}
<form action="." method="post">
	<div>
		{{ form.body.errors }}
		{{ form.body }}
	</div>
	<div class="tags">
		{{ form.tags.errors }}
		{{ form.tags }}
	</div>
	<div class="button">
	{% if object %}
	<a href="/chiplog/">Cancel</a>
	<input type="submit" value="ReLog It">
	{% else %}
	<input type="submit" value="Log It">
	{% endif %}
	</div>
</form>

{% endblock %}
