{% extends 'base.html' %}

{% block class %} class="lone_form"{% endblock %}

{% block content %}
	
{% if object %}
<h2>Editing Entry from {{ object.created|date:"M d, Y" }}</h2>
{% endif %}
<form action="." method="post">
	<div>
		{{ form.body.errors }}
		{{ form.body }}
	</div>
	<div class="tags">
		{{ form.tags.errors }}
		{{ form.tags }}
	</div>
	<div class="button">
	{% if object %}
	<input type="submit" value="ReLog It">
	{% else %}
	<input type="submit" value="Log It">
	{% endif %}
	</div>

</form>
{% if object %}
<a href="/chiplog/">Cancel</a>
{% endif %}

{% endblock %}
