{% extends 'base.html' %}
{% load markup %}
{% load humanize %}

{% block class %}{% if has_previous %} class="paginated"{% endif %}{% endblock %}

{% block header-temp %}
	<form action="search" method="get" accept-charset="utf-8">
		<div><label for="s">Search</label><input type="search" value="" name="s" id="s" /></div>
	</form>
{% endblock %}

{% block header %}
	{% if has_previous %}
	<div id="add">
		<a href="/chiplog/">New Entry</a>
	</div><!-- #add -->
	{% endif %}
{% endblock %}

{% block content %}	

{% if has_previous %}
{% else %}
	<form action="." method="post">
		<div>
			{{ form.body.errors }}
			{{ form.body }}
		</div>
		<div class="tags">
			{{ form.tags.errors }}
			{{ form.tags }}
		</div>
		<div class="button"><input type="submit" value="Log It"></div>
	</form>
{% endif %}

<div id="entries">
	{% for entry in entry_list %}
		{% ifchanged %}<h2>{{ entry.created|naturalday:"l, F j, Y"|title }}</h2>{% endifchanged %}
		<div class="entry">
			<div class="meta">
				<span class="delete"><a href="/chiplog/delete/{{ entry.id }}/">&otimes;</a></span>
				<span class="date">
					<a href="/chiplog/edit/{{ entry.id }}">
						{{ entry.created|date:"g:i a" }}
					</a>
				</span>
			</div>
			<div class="content">
				{{ entry.body|markdown }}
			</div><!-- .content -->
		</div>
	{% endfor %}
</div><!-- #entries -->
{% endblock %}

{% block navigation %}
<div id="nav">
{% if is_paginated %}
  {% if has_next %}
  <a class="older" href="/chiplog/page/{{ next }}/">Older</a>
  {% endif %}
  {% if has_previous %}
  <a class="newer" href="/chiplog/page/{{ previous }}/">Newer</a>
  {% endif %}
{% else %}
<div class="empty_nav"></div>
{% endif %}
</div><!-- #nav -->
{% endblock %}
