{% extends 'base.html' %}
{% load markup %}

{% block header %}
	<form action="search" method="get" accept-charset="utf-8">
		<div><label for="s">Search</label><input type="search" value="" name="s" id="s" /></div>
	</form>
{% endblock %}

{% block content %}	
	{% if object %}
	<h2>Editing Entry from {{ object.created|date:"M d, Y" }}</h2>
	{% endif %}
	<form action="." method="post">
		<div>
			{{ form.body.errors }}
			{{ form.body }}
		</div>
		<div class="tags">
			{{ form.tags.errors }}
			{{ form.tags }}
		</div>
		<div><input class="button" type="submit" value="Log It"></div>
	</form>
	{% if object %}
	<a href="/chiplog/">Cancel</a>
	{% endif %}

<div id="entries">
	{% for entry in entry_list %}
		<div class="entry">
			<div class="meta">
				<span class="delete"><a href="/chiplog/delete/{{ entry.id }}/">X</a></span>
				<span class="edit"><a href="/chiplog/edit/{{ entry.id }}/">E</a></span>
				<span class="date">{{ entry.created|date:"M d, Y" }}</span>
			</div>
			<div class="content">
				{{ entry.body|markdown }}
			</div><!-- .content -->
		</div>
	{% endfor %}
</div><!-- #entries -->

{% endblock %}
