{% extends 'base.html' %}

{% block header %}
	<form action="search" method="get" accept-charset="utf-8">
		<div><input class="search" type="search" name="some_name" value="Search" id="some_name"></div>
	</form>
{% endblock %}

{% block content %}	
	{% if object %}
	<h2>Editing Entry from {{ object.created|date:"M d, Y" }}</h2>
	{% endif %}
	<form action="." method="post">
		<table border="0">
			{{ form.as_table }}
		</table>
		<div><input class="button" type="submit" value="Log It"></div>
	</form>
	{% if object %}
	<a href="/chiplog/">Cancel</a>
	{% endif %}

	<ul id="all_list">
	{% for entry in entry_list %}
		<li><span class="delete"><a href="/chiplog/delete/{{ entry.id }}/">X</a></span> <span class="date">{{ entry.created|date:"M d, Y" }}</span> <a href="/chiplog/edit/{{ entry.id }}/">{{ entry.body }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}
