/* ---------- site/forms.sass ----------

// Search Form
#header
  form
    :float right

    input[type=search]
      :width 200px
      :color #888

// Log Entry Form
#main

  form
    :padding 8px 20px 0
    :padding-bottom 0
    :border-bottom 10px solid #ccc
    :background = !mid_gray

    textarea,
    .tags input
      :color = !mid_gray
      :-webkit-border-radius 6px
      :-moz-border-radius 6px

    a
      :font-size 11px
      :color = !light_gray
      &:hover
        :color inherit
        :text-decoration underline
    
    div
      :margin-bottom 10px
      &.tags,
      &.button
        :margin-bottom 15px

    .tags
      :float left
      :position relative
      
      a
        :display block
        :padding-top 5px
      
      input
        :width 200px
        :position absolute
        :top -2px
        :padding 3px

    .button
      :float right

      input
        :width 150px

    textarea
      :padding 5px
      :width 628px
      :border-color #ccc
      :font
        :family Monaco
        :size 12px
      

    .errorlist
      :color darkred
