/* ---------- site/forms.sass ----------

// Search Form
#header
  form

    input[type=search]
      :width 200px
      :color #888

// Log Entry Form
#main
  form
    :padding 0 20px
    :border-bottom 4px solid #ccc

    div
      :margin-bottom 10px

    .tags
      :float left

    .button
      :float right

    textarea
      :width 638px

    .errorlist
      :color darkred
