@import base/reset.sass
@import base/copy.sass
@import base/shortcuts.sass
@import site/colors.sass

/* ---------- iphone.sass ----------

html
  :-webkit-text-size-adjust none

body
  :font 14px "Gill Sans", Helvetica, sans-serif
  :background = !body_bg

a
  :color = !blue

#wrapper
  :padding 5px 8px

h1, h2, #add a
  :margin 10px 0
  :color = !mid_gray

h1
  :color = !almost_white
  .entry_detail &,
  .lone_form &,
  .entry_delete &
    :color = !mid_gray

#add
  :text-align center
  a
    :display block
    :margin 5px 100px
    :padding 3px 5px
    :color = !dark_gray
    :background
      :color = !mid_gray
    :-webkit-border-radius 5px


h1
  strong
    :text-decoration underline

#search
  :display none

form
  textarea
    :padding 2%
    :width 96%
    :border 1px solid #ccc
    :font-size 15px
    :line-height 18px
    :color #333
    :-webkit-border-radius 6px
  
  .tags
    :float left
    :margin-top 11px
    :position relative
    
    a
      :margin-top 5px
    
    input
      :position absolute
      :top -5px
      :width 100px
      :padding 3px
      :font-size 14px

  .button
    :margin-top 5px
    :width 58%
    :float right
    :text-align right
    a
      :margin-top 7px
    input
      :font-size 15px

#entries
  :clear both

.entry
  :margin 3px 0
  :padding 10px
  :-webkit-border-radius 6px
  :background = !almost_white
  
  a
    :color = !blue
  
.entry_detail
  #edit,
  .tags
    :padding 5px 0
    :color = !mid_gray

#nav
  :clear both
  +floatclear
  a
    :float left
    :margin 8px 0 0
    :padding 5px 14px
    :font-size 16px
    :color #838383
    :text-transform uppercase
    :background #c0c0c0
    :-moz-border-radius 5px
    :-webkit-border-radius 5px
    &.older
      :float right
    &:hover
      :color #777
      :background #ccc
    &:active
      :position relative
      :top 1px

pre code
  :font-size 14px
